<template>
  <main class="content container">
    <PreloaderBig v-if="cartLoadingState" />
    <div class="content__top">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="index.html"> Каталог </a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link"> Корзина </a>
        </li>
      </ul>

      <h1 class="content__title">Корзина</h1>
      <span class="content__info">
        Товаров: {{ $store.state.cartProducts.length }}
      </span>
    </div>

    <section class="cart">
      <form class="cart__form form" action="#" method="POST">
        <div class="cart__field">
          <ul class="cart__list">
            <CartItem
              v-for="item in cartProducts"
              :key="item.id"
              :item="item"
            />
          </ul>
        </div>

        <div class="cart__block">
          <p class="cart__desc">
            Мы&nbsp;посчитаем стоимость доставки на&nbsp;следующем этапе
          </p>
          <p class="cart__price">
            Итого: <span>{{ totalPrice | numberFormat }} ₽</span>
          </p>

          <router-link
            class="cart__button button button--primery"
            type="submit"
            :to="{ name: 'order' }"
            tag="button"
            v-show="cartProducts.length > 0"
          >
            Оформить заказ
          </router-link>
        </div>
      </form>
    </section>
  </main>
</template>

<script>
import numberFormat from "@/helpers/numberFormat";
import { mapGetters } from "vuex";
import CartItem from "@/components/CartItem.vue";
import PreloaderBig from "@/components/PreloaderBig.vue";

export default {
  components: { CartItem, PreloaderBig },
  filters: { numberFormat },
  computed: {
    ...mapGetters({
      totalPrice: "cartTotalPrice",
      cartProducts: "cartProducts",
      cartLoadingState: "cartLoadingState",
    }),
  },
};
</script>
