<template>
  <li class="cart__item product">
    <div class="product__pic">
      <img
        :src="item.product.image.file.url"
        width="120"
        height="120"
        :alt="item.product.title"
      />
    </div>
    <h3 class="product__title">
      {{ item.product.title }}
    </h3>
    <span class="product__code"> Артикул: {{ item.product.id }} </span>

    <div class="product__counter form__counter">
      <button
        @click.prevent="removeOne"
        type="button"
        aria-label="Убрать один товар"
      >
        <svg width="10" height="10" fill="currentColor">
          <use xlink:href="#icon-minus"></use>
        </svg>
      </button>

      <input type="text" v-model.number="amount" name="count" />

      <button
        @click.prevent="addOne"
        type="button"
        aria-label="Добавить один товар"
      >
        <svg width="10" height="10" fill="currentColor">
          <use xlink:href="#icon-plus"></use>
        </svg>
      </button>
    </div>

    <b class="product__price">
      {{ (item.quantity * item.price) | numberFormat }} ₽
    </b>

    <button
      class="product__del button-del"
      type="button"
      aria-label="Удалить товар из корзины"
      @click.prevent="deleteCartProduct(item.product.id)"
    >
      <svg width="20" height="20" fill="currentColor">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </li>
</template>

<script>
import numberFormat from "@/helpers/numberFormat.js";
import { mapActions } from "vuex";

export default {
  props: ["item"],
  filters: { numberFormat },

  computed: {
    amount: {
      get() {
        return this.item.quantity;
      },
      set(value) {
        this.updateCartProductAmount({
          productId: this.item.product.id,
          amount: value,
        });
      },
    },
  },
  methods: {
    ...mapActions(["updateCartProductAmount", "deleteCartProduct"]),
    addOne() {
      this.amount += 1;
    },
    removeOne() {
      this.amount -= 1;
    },
  },
};
</script>
