<template>
  <div class="lds-dual-ring"></div>
</template>

<script>
export default {};
</script>

<style lang="stylus" scoped>
.lds-dual-ring {
  display inline-block
  width 30px
  height 30px
  &::after {
    content " "
    display block
    width 30px
    height 30px
    margin 2px
    border-radius 50%
    border 3px solid #fff
    border-color #fff transparent #fff transparent
    animation lds-dual-ring 1.2s linear infinite
  }
}

@keyframes lds-dual-ring {
  0% {
    transform rotate(0deg)
  }
  100% {
    transform rotate(360deg)
  }
}
</style>
